.team-info-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.team-divider {
    background:
        repeating-linear-gradient(90deg, #3C3C3C 0 4px, #0000 0 8px);
    height: 1.3px;
    margin: 0;
}

.team-header-1 {
    color: var(--text-color);
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 25px;
}

.team-member-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}