.team-member-img {
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.team-member-name-p,
.team-member-major-p {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    font-size: var(--paragraph-text-size);
    margin-bottom: 0px !important;
}