#footer {
  background-color: var(--background-color);

  display: flex;
  justify-content: space-between;

  /* font settings */
  font-size: var(--navbar-footer-text-size);
  color: var(--text-color);

  /* padding */
  padding: var(--navbar-footer-top-bottom-padding-size) var(--right-left-padding-size) !important;
}

.footer-icons {
  padding-right: 8px;
  text-decoration: none;
}

/* responsive sizing */
@media (max-width: 415px) {
  #footer {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
  }
}