html {
    /* set background image */
    background: url("../assets/comingsoon-background.png") no-repeat center center fixed;
    background-size: cover;
}

/* fade in animation
body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.content-section {
    /* extend the component to the full screen */
    height: 100%;
    width: 100%;
}

.main-header {
    /* center the "COMING SOON" text */
    display: flex;
    align-items: center;
    height: 100%;

    padding: 0vh 4.5vh;
}

h2 {
    font-size: 8.8vh;
    color: white;
    margin: 0;
}