#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  font-size: 12pt;
}

#leftContent {
  color: #FBFBFB;
  margin-left: 40px;
}

#rightContent {
  margin-right: 40px;
}

.icons {
  padding-right: 8px;
  text-decoration: none;
}

/*reponsive web designing for different sized screens*/
@media (max-width: 1024px) {
  #footer {
    font-size: max(2.2vw, 12pt);
  }

  .img {
    width: max(5vw, 20px);
    height: max(3vw, 16px);
  }
}

/*for smaller screens like the galaxy fold*/
@media (max-width: 415px) {
  #footer {
    font-size: max(3.5vw, 11px);
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    margin-left: 40px !important;
    margin-bottom: 20px !important;
  }

  #leftContent {
    margin-bottom: 5px;
    margin-left: 0px !important;
  }

  #rightContent {
    margin-bottom: 5px;
    margin-right: 0px !important;
  }

  .img {
    width: max(4.5vw, 16px);
    height: max(4.5vw, 12px);
  }
}