#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  font-size: 12pt;
}

/*reponsive web designing for different sized screens*/
@media (max-width: 1024px) {
  #footer {
    font-size: max(3vw, 12px);
  }
  .img{
    width: max(5vw,20px);
    height: max(3vw,16px);
  }
  .icons{
    padding-left: 5px !important;
  }

}
/*for smaller screens like the galaxy fold*/
@media (max-width: 415px) {
  #footer {
    font-size: max(3vw, 11px);
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    text-align: center;
    
  }
  #leftContent{
    margin-bottom: 5px;
  }
  #rightContent{
    margin-bottom: 5px;
    margin-right: 0px !important;
  }
  .img{
    width: max(3vw,16px);
    height: max(3vw,12px);
  }
  .icons{
    padding-left: 3px !important;
  }

}

/* <>Margin */
#leftContent {
  color: #FBFBFB;
  margin-left: 40px;
}

.icons {
  padding-left: 6px;
  text-decoration: none;
}

/* <>Margin */
#rightContent {
  margin-right: 40px;
}