.landing-title {
  font-size: calc(3rem + 2vw);
  margin-bottom: 0 !important;
}

.landing-container h1 {
  color: var(--text-color);
  margin-bottom: 3vh;
}

.landing-container p {
  font-size: calc(1rem + 0.3vw);
}

.landing-eventContent {
  font-size: calc(2.0rem + 0.3vw);
  line-height: 80%;
  margin-top: 3%;
}

.landing-eventContent p {
  margin: 0;
  font-size: calc(1rem + 0.7vw);
  letter-spacing: 0.02em;
}

.landing-buyTickets-button {
  margin-top: 12%;
  font-size: calc(1rem + 0.7vw);
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--ted-red-color);
  width: 200px;
  padding: 15px;
  border-radius: 5px;
}

.landing-redX-image {
  max-width: 100%;
}

.landing-event-info-container {
  margin-top: 60px !important;
}

.landing-about-tedx-container,
.landing-seeing-the-invisible-container,
.landing-venue-container,
.landing-venue-container {
  margin-top: 100px !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.landing-kaneHall-image {
  max-width: 100%;
}

.landing-brand-image {
  max-width: 100%;
  border: 1px solid #454545;
  padding: 5vh;
  border-radius: 1vh;
}

.landing-theme-content {
  max-width: 70%;
}

.landing-venue-content {
  max-width: 70%;
  margin-top: 30px !important;
}

@media (max-width: 425px) {
  .landing-event-info-container {
    margin-top: 30px !important;
  }

  .landing-about-tedx-container {
    margin-top: 70px !important;
  }

  .landing-seeing-the-invisible-container,
  .landing-venue-container,
  .landing-venue-container {
    margin-top: 50px !important;
  }

  .landing-redX-image {
    display: none;
  }
}