
  .landing-title{
    font-size: calc(2.3rem + 1.5vw);
  }
  h1{
    color: var(--text-color);
  }
  p{
    font-size: calc(1.0rem + 0.3vw);
  }

  .landing-eventContent{
    font-size: calc(2.0rem + 0.3vw);
    line-height: 80%;   
    margin-top: 10%;
  }
  
  .landing-buyTickets-button{
    margin-top: 20px;
    font-size: calc(1.5rem + 0.3vw);
    background-color: black;
    color: var(--text-color);
    border-color:red;
    padding: 15px;
    border-radius: 5px;
    
  }
  .landing-redX-image{
    max-width: 100%;
  }
  .row{
    margin-top: 90px !important;
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .landing-kaneHall-image{
    max-width: 100%;
    margin-top: 3vh;
    
  }

  .landing-brand-image{
    max-width: 100%;
    border: 1px solid var(--text-color);
    padding: 5vh;
    border-radius: 1vh;
  }

  .landing-theme-content{
    max-width: 70%;
  } 
  .landing-venue-content{
    max-width: 70%;
  }

 
  @media (max-width: 411px) {    
    .row{
      margin-top: 50px !important;
    }
  }
