.memberImg{
    width: 275px;
    height:275px;
    margin-bottom:5px;
}

p{
    font-size: 18px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
}

.memberName{
   margin-top: 15px;
   margin-bottom: 0px;
}
