.speaker-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.speaker-divider {
    content: "";
    background:
        repeating-linear-gradient(90deg, #3C3C3C 0 4px, #0000 0 8px);
    height: 1.3px;
    width: 100%;
    margin: 0px 0px 20px;
}

.speaker-content {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 50px;
    justify-content: space-between;

}

.speaker-img {
    aspect-ratio: 1 / 1;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 12px;
}

.speaker-profile {
    display: inline;
}

.speaker-name,
.speaker-position {
    font-size: var(--paragraph-text-size);
    margin-bottom: 10px !important;
    width: 350px;
}

.speaker-description {
    margin-top: 0;
    font-size: var(--paragraph-text-size);
    align-content: left;
}

@media (max-width: 758px) {
    .speaker-content,
    .speaker-profile,
    .speaker-name,
    .speaker-position,
    .speaker-description {
        width: 100%;
        flex-direction: column;
    }
}
