.speaker {
    margin-top: 100px;
    margin-bottom: 250px;
    margin-left: 25px;
}

.speaker-img {
    aspect-ratio: 1 / 1;
    float: left;
    width: 230px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.speaker-name,
.speaker-position {
    width: 230px;
    float: left;
    font-size: var(--paragraph-text-size);
    margin-bottom: 10px !important;
}

.speaker-description {
    width: 598px;
    margin-top: 0;
    margin-left: 800px;
    font-size: var(--paragraph-text-size);
}