.about-tedx-page{
    font-size: 25px;
}

.about-tedx-ted-red-logo{
   width:100%;

}

.about-tedx-tedImgPlaceholder{
    border: 1px solid #454545;
    background-color: pink;
    width: 400px;
    height: 250px;
}

.about-tedx-tedXUofWImgPlaceholder{
    border: 1px solid #454545;
    background-color: pink;
    width: 400px;
    height: 350px;
    margin-bottom: 75px;
}

.about-tedx-tedXUofWHeader{
    color: var(--text-color);
    font-size: 30px;
    margin-bottom: 25px;
}

.about-tedx-tedXRow{
    margin-bottom: 150px;
}
