.about-tedx-page{
    font-size: 20px;
}

.tedRedLogo{
   width:800px;

}

.tedImgPlaceholder{
    border: 1px solid #454545;
    background-color: pink;
    width: 400px;
    height: 250px;
}

.tedXUofWImgPlaceholder{
    border: 1px solid #454545;
    background-color: pink;
    width: 400px;
    height: 350px;
    margin-bottom: 75px;
}

.tedXUofWHeader{
    color: #FBFBFB;
    font-size:30px;
    margin-bottom: 25px;
}

.tedXRow{
    margin-bottom: 150px;
}
