.row>* {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.about-tedx-page {
    font-size: calc(0.85rem + 0.8vw)
}

.about-tedx-tedxuofw-red-logo {
    width: 100%;
    position: relative;
    right: 40px;
    margin-top: 30px;
}

.about-tedx-tedXUofWHeader {
    color: var(--text-color);
    margin-bottom: 25px;
}

.about-tedx-tedXRow {
    margin-bottom: 150px;
}

.right-col {
    margin-left: 8.33333333%;
}

@media all and (max-width: 991px) {
    .about-tedx-team-photo {
        margin-bottom: 30px;
    }

    .about-tedx-tedXRow {
        margin-bottom: 30px;
    }

    .about-tedx-tedxuofw-red-logo,
    .about-tedx-tedx-official-logo-container {
        display: none !important;
    }

    .right-col {
        margin-left: 0;
    }
}

@media all and (max-width: 420px) {
    .about-tedx-tedx-official-logo {
        width: 80%;
    }
}