html {
    background: url("../assets/comingsoon-background.png") no-repeat center center fixed;
    background-size: cover;
}

.content-section {
    /* full screen */
    height: 100%;
    width: 100%;
}

.main-header {
    /* center the "COMING SOON" text */
    display: flex;
    align-items: center;
    height: 100%;

    padding: 0vh 4.5vh;
}

h2 {
    font-size: 8.8vh;
    color: white;
    margin: 0;
}